*{
    margin: 0;
    padding: 0;   
}
#header,#nav,#footer{
    text-align: center;
}
#header{
    border: 1px solid #ddd;
    height: 100px;
}
#nav{
    border-bottom: 1px solid #ddd;
    height: 50px;
}
a{
    text-decoration: none !important;
    color: black !important;
}
a:visited{
    color: black !important;
}
li{
    list-style: none !important;
}
h4{
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

/* 추후 jquery로 코드 수정할 것 */
#currentPage{
    background-color: #1ecad3;
    color: white;
}
#selectPage{
    color: #1ecad3 !important;
}

/* nav_submenu 영역 */
.submenu_wrap{
    background-color: #f4f4f4;
    height: 50px;
    line-height: 50px;
   overflow: hidden;
   text-align: center;
}

.submenu_wrap ul li{
   
    display: inline-block; 
}
.submenu_wrap ul a{
    display: block;
    padding: 0 50px;
}

.submenu_wrap a:hover{
    background-color: #1ecad3;
    color: white;
}

/* submenu의 세부 메뉴 영역 */
.detail_menu{
    height: 50px;
    line-height: 50px;
   overflow: hidden;
   text-align: center;
}

.detail_menu ul li{
    display: inline-block; 
}

/* submenu -> detailmenu의 a 태그는 inline-block 설정 할 것 */
.detail_menu ul a{
    display: inline-block;
    margin: 0 15px;
    font-size: 14px;
}
.detail_menu .active{
    border-width: 0 0 1px 0;
    border-style: solid;
}

.detail_menu a:hover{
    color: #1ecad3;
}


/* content 영역 */
.content_wrap{
    position: relative;
}
.content_header{
    
}
.content_header p{
    text-align: center;
    color: #1ecad3;
    font-size: 48px;
    font-weight: 900;
}
.inline-row{
    width: 100%;
    height: 50px;
    border-top: 2px solid #f4f4f4;
    
} 

/* collapse 되는 영역 -> faq*/
q_wrap a{
    display: block;
}