<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<th:block th:include="frame/metaheader"></th:block>
</head>
<body>
	<h1>카카오 로그인 테스트</h1>
	
	<button th:onclick="loginWithKakao()">카카오 로그인</button>












	<!-- 카카오 로그인 -->
	<script type="text/javascript"
		src="https://developers.kakao.com/sdk/js/kakao.min.js" charset="utf-8"></script>
	<script type="text/javascript">
		//초기화 시키기. 
		$(document).ready(function(){ 
			Kakao.init('e45a7e47516f7b29dedfc296a83102cc'); 
			Kakao.isInitialized(); 
		});
	</script>
	<script type="text/javascript"> 
		function loginWithKakao() { 
			Kakao.Auth.authorize({ 
				redirectUri: 'http://localhost:8085/kakao/loginpage_kakao_callback'
				}); 
			} 
	</script>







</body>
</html>