@charset "utf-8";
*{
    margin : 0;
    padding: 0;
}
html,body,div,h1,h2,h3,h4,h5,h6,
table,input,
header,nav,aside,section,article,footer,
p {
    font-size: 16px;
    font-family: "돋움체";
}
/* main 영역 */
#main_wrap{
    width: 100%;
    background: #f0f2f5;
    overflow: hidden;
}
/* header 영역 */
header{
    width: 400px;
    border: 1px solid #ddd;
    float: left;
    margin: 150px 0 200px 200px;
}
header>img{
    width: 200px;
    height: 60px;
}
header>h3{
   padding-top: -30px;
}
/* section 영역 */
section{
    width: 400px;
    border: 2px solid #ddd;
    float: right;
    margin: 100px 200px 200px 0;
}
/* article 영역 */
article{
    border: 2px solid #ddd;
}
article>div{
    border: 2px solid #ddd;
}

/* footer 영역 */
footer{
    height: 150px;
    background-color: white;
    border: 2px solid #DDD;
    clear: both;
    
}
ul>li{
    list-style: none;
    float: left;
    padding: 0 15px;
    margin: 0 auto;
}




/* 공통으로 영역 정의 */

  
    